In [8]:
# Tuple
tup = 7, 8, 9; print('tuple:', tup)
nest_tup = (1, 2, 3), (4, 5); print('nested tuple:', nest_tup)

print('tuple index[1]:',  tup[1])
print('nested tuple index[1][1]:', nest_tup[1][1])

tuple: (7, 8, 9)
nested tuple: ((1, 2, 3), (4, 5))
tuple index[1]: 8
nested tuple index[1][1]: 5

In [9]:
# tuples are imutable, objects inside they aren't 
tup = (1, 2, [3, 4, 5])
tup[2].append(6); print(tup)

(1, 2, [3, 4, 5, 6])

In [10]:
# Concatenating tuples with '+' Objects are not copied, just the references.
tup1 = ('donald duck',)
tup2 = ('louie', 'dewey', 'huey')
tup1 + tup2

('donald duck', 'louie', 'dewey', 'huey')

In [11]:
# Multiplying a tuple with *
tup1 = ('th',)
tup2 = ("that's all folks",)
tup1 * 3 + tup2

('th', 'th', 'th', "that's all folks")

In [12]:
# unpacking a tuple
tup = (1, 2, (3, 4, 5))

x,y,z = tup
print(x, y, z, '\n')

a, b, (x, y, z) = tup
print(a, b, x, y, z)

1 2 (3, 4, 5)

1 2 3 4 5

In [13]:
# unpack multiple tuples
tup = ((1, 2, 3),(10, 20, 30),(100, 200, 300))

for a, b, c in tup:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=10, b=20, c=30
a=100, b=200, c=300

In [14]:
# counting how many ones in the tuple
tup = (1, 1, 1, 2, 3, 4, 1, 5, 1, 1, 6, 7, 8, 9, 1)
tup.count(1)

7

In [18]:
# Lists

# list starting from 0 and containing 10 values
myList = list(range(0,10))
print(myList)

# adding a 10 to the end of the list
myList.append(10)
print(myList)

# returning and deleting a value from the list ---BY INDEX---
x = myList.pop(5)
print('\n', x); print(myList)

# inserting a value to the list ---BY INDEX---
myList.insert(5, x)
print(myList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 5
[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
myList = ['John F. Kennedy','John Lennon','Bob','Johnny Depp','John Travolta','John Rambo', 'Bob']
print(myList)

# removing the first matching value
myList.remove('Bob')
print(myList, '\n')

# check if value exists in the list
print('Bob' in myList)

['John F. Kennedy', 'John Lennon', 'Bob', 'Johnny Depp', 'John Travolta', 'John Rambo', 'Bob']
['John F. Kennedy', 'John Lennon', 'Johnny Depp', 'John Travolta', 'John Rambo', 'Bob']

True

In [20]:
# Merging, combining, concatenating... 

a = ['Apple', 'Banana', 'Orange']
b = [1, 2, 3]

# assiging a new variable for the combined list
c = a + b; print("a + b = c \n c = ", c)

# merging them into one
a.extend(b); print('a extend b \n a = ', a)

a + b = c
 c =  ['Apple', 'Banana', 'Orange', 1, 2, 3]
a extend b
 a =  ['Apple', 'Banana', 'Orange', 1, 2, 3]

In [21]:
# slicing
a = [200, 300, 400, 12341, 598793, 238947, 500, 600]; 
# passing a range
print(a[3:6])
# passing just the start
print(a[6:])
# passing just the end, passing
print(a[:3])

# negative numbers mean the index is relative to the end
print('\n')

# passing range
print(a[-5:-2])
# passing the end
print(a[-2:])
# passing the start
print(a[:-5])

[12341, 598793, 238947]
[500, 600]
[200, 300, 400]


[12341, 598793, 238947]
[500, 600]
[200, 300, 400]

In [22]:
# string is a sequence of characters, so we can slice it the same way
name = 'Lebowski'; print(name)
print(sorted(name))
print(name[-3:])

# we can add another colon to pass the step
# every other
print(name[::2])
# reverse
print(name[::-1])

Lebowski
['L', 'b', 'e', 'i', 'k', 'o', 's', 'w']
ski
Lbwk
ikswobeL

In [23]:
# sorting numbers
a = [1253, 48932, 17258, 1923, 5059, 12039, 9642, 89993, 5943, 7230]; print(a)
a.sort(); print(a, '\n')

# sorting strings
myList = ['Johnny Depp','John F. Kennedy','John Travolta','John Rambo','John Lennon']; print(myList)
myList.sort(); print(myList)

# sorting with different key *by lenght
myList.sort(key=len); print(myList)

[1253, 48932, 17258, 1923, 5059, 12039, 9642, 89993, 5943, 7230]
[1253, 1923, 5059, 5943, 7230, 9642, 12039, 17258, 48932, 89993]

['Johnny Depp', 'John F. Kennedy', 'John Travolta', 'John Rambo', 'John Lennon']
['John F. Kennedy', 'John Lennon', 'John Rambo', 'John Travolta', 'Johnny Depp']
['John Rambo', 'John Lennon', 'Johnny Depp', 'John Travolta', 'John F. Kennedy']

In [24]:
# Binary Search
import bisect

# create a sorted list
a = [1000, 40000, 17000, 42000, 5000, 12000, 9000, 80000, 25000, 7000]
a.sort(); print(a)

# Use binary search to find the index to add a value and keeping the list sorted
idx = bisect.bisect(a, 29999); print(idx, '\n')

# Use binary search to insert the value and keep the list sorted
bisect.insort(a, 29999); print(a)

[1000, 5000, 7000, 9000, 12000, 17000, 25000, 40000, 42000, 80000]
7

[1000, 5000, 7000, 9000, 12000, 17000, 25000, 29999, 40000, 42000, 80000]

In [25]:
# Zip
players = ['player 1', 'player 2', 'player 3']
games = ['Zelda', 'God of War', 'Blackjack']

# pair elements in lists
z = zip(players, games)
print(list(z))

[('player 1', 'Zelda'), ('player 2', 'God of War'), ('player 3', 'Blackjack')]

In [26]:
players = ['player 1', 'player 2', 'player 3']
games = ['Zelda', 'God of War', 'Blackjack']

for idx, (p, g) in enumerate(zip(players, games)):
    print('{0} - {1} is playing: {2}'.format(idx, p, g))

0 - player 1 is playing: Zelda
1 - player 2 is playing: God of War
2 - player 3 is playing: Blackjack

In [27]:
# unziping
z = [('Vancouver', 'BC'), ('Victoria', 'BC'), ('Toronto', 'ON')]
city, province = zip(*z)

print(city)
print(province)

('Vancouver', 'Victoria', 'Toronto')
('BC', 'BC', 'ON')

In [28]:
# Dictionaries

x = {'test1':8, 'test2':4}; print(x)

# adding a value
x['test3'] = 9; print(x)

# selecting a value
print(x['test2'])

# checking if a value exists
print('test3' in x)
print('test4' in x)

{'test1': 8, 'test2': 4}
{'test1': 8, 'test2': 4, 'test3': 9}
4
True
False

In [29]:
# 'del' deletes a value in a dict, 'pop' returns and deletes a value in a dict

# del
x = {'test1':8, 'test2':4, 'test3': 9, 'bonusTest': 3, 'participation':5, 'test4': 6}; print(x)
del x['participation']; print(x, '\n')

# pop
y = x.pop('bonusTest'); print(x)
x['test2'] = x['test2'] + y; print(x, '\n')

# update
x.update({'test4':9, 'test2':8}); print(x)

{'test1': 8, 'test2': 4, 'test3': 9, 'bonusTest': 3, 'participation': 5, 'test4': 6}
{'test1': 8, 'test2': 4, 'test3': 9, 'bonusTest': 3, 'test4': 6}

{'test1': 8, 'test2': 4, 'test3': 9, 'test4': 6}
{'test1': 8, 'test2': 7, 'test3': 9, 'test4': 6}

{'test1': 8, 'test2': 8, 'test3': 9, 'test4': 9}

In [30]:
x = {'test1':8, 'test2':7, 'test3': 9}

# keys
print(x.keys())

#values
print(x.values())

dict_keys(['test1', 'test2', 'test3'])
dict_values([8, 7, 9])

In [31]:
# assigning lists to dicts

names = ['John', 'Paul', 'Mike', 'Steve']
pay = [1200, 860, 1050, 1380]
d = {}

# zip the two lists and loop through the values assigning *name as the index and pay as the value 
for n, p in zip(names, pay):
    d[n]=p

print(d)

{'John': 1200, 'Paul': 860, 'Mike': 1050, 'Steve': 1380}

In [33]:
# we can use a list to save more than one value per index in a dict

names = ['John', 'Paul', 'Mike', 'Steve']
pay = [1200, 860, 1050, 1380]
dept = [-50, -34, 0, -300]
d={}

for idx, n in enumerate(names):
    d[n] = [pay[idx], dept[idx]]
    
print(d)

{'John': [1200, -50], 'Paul': [860, -34], 'Mike': [1050, 0], 'Steve': [1380, -300]}