In [1]:
# Tuple
tup = 7, 8, 9; print 'tuple:', tup
nest_tup = (1, 2, 3), (4, 5); print 'nested tuple:', nest_tup

print 'tuple index[1]:',  tup[1]
print 'nested tuple index[1][1]:', nest_tup[1][1]

tuple: (7, 8, 9)
nested tuple: ((1, 2, 3), (4, 5))
tuple index[1]: 8
nested tuple index[1][1]: 5

In [2]:
# tuples are imutable, objects inside they aren't 
tup = (1, 2, [3, 4, 5])
tup[2].append(6); print(tup)

(1, 2, [3, 4, 5, 6])

In [3]:
# Concatenating tuples with '+' Objects are not copied, just the references.
tup1 = ('donald duck',)
tup2 = ('louie', 'dewey', 'huey')
tup1 + tup2

('donald duck', 'louie', 'dewey', 'huey')

In [4]:
# Multiplying a tuple with *
tup1 = ('th',)
tup2 = ("that's all folks",)
tup1 * 3 + tup2

('th', 'th', 'th', "that's all folks")

In [5]:
# unpacking a tuple
tup = (1, 2, (3, 4, 5))

x,y,z = tup
print x, y, z, '\n'

a, b, (x, y, z) = tup
print a, b, x, y, z

1 2 (3, 4, 5)

1 2 3 4 5

In [6]:
# unpack multiple tuples
tup = ((1, 2, 3),(10, 20, 30),(100, 200, 300))

for a, b, c in tup:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=10, b=20, c=30
a=100, b=200, c=300

In [10]:
# counting how many ones in the tuple
tup = (1, 1, 1, 2, 3, 4, 1, 5, 1, 1, 6, 7, 8, 9, 1)
tup.count(1)

7

In [17]:
# Lists

# list starting from 0 and containing 10 values
myList = list(range(0,10))
print myList

# adding a 10 to the end of the list
myList.append(10)
print myList

# returning and deleting a value from the list ---BY INDEX---
x = myList.pop(5)
print '\n', x ; print myList

# inserting a value to the list ---BY INDEX---
myList.insert(5, x)
print '\n', myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5
[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
myList = ['John F. Kennedy','John Lennon','Bob','Johnny Depp','John Travolta','John Rambo', 'Bob']
print myList

# removing the first matching value
myList.remove('Bob')
print myList, '\n'

# check if value exists in the list
print 'Bob' in myList

['John F. Kennedy', 'John Lennon', 'Bob', 'Johnny Depp', 'John Travolta', 'John Rambo', 'Bob']
['John F. Kennedy', 'John Lennon', 'Johnny Depp', 'John Travolta', 'John Rambo', 'Bob']

True

In [25]:
# Merging, combining, concatenating... 

a = ['Apple', 'Banana', 'Orange']
b = [1, 2, 3]

# assiging a new variable for the combined list
c = a + b; print c

# merging them into one
a.extend(b); print a

['Apple', 'Banana', 'Orange', 1, 2, 3]
['Apple', 'Banana', 'Orange', 1, 2, 3]

In [33]:
# sorting numbers
a = [1253, 48932, 17258, 1923, 5059, 12039, 9642, 89993, 5943, 7230]; print a
a.sort(); print a, '\n'

# sorting strings
myList = ['Johnny Depp','John F. Kennedy','John Travolta','John Rambo','John Lennon']; print myList
myList.sort(); print myList

# sorting with different key *by lenght
myList.sort(key=len); print myList

[1253, 48932, 17258, 1923, 5059, 12039, 9642, 89993, 5943, 7230]
[1253, 1923, 5059, 5943, 7230, 9642, 12039, 17258, 48932, 89993]

['Johnny Depp', 'John F. Kennedy', 'John Travolta', 'John Rambo', 'John Lennon']
['John F. Kennedy', 'John Lennon', 'John Rambo', 'John Travolta', 'Johnny Depp']
['John Rambo', 'John Lennon', 'Johnny Depp', 'John Travolta', 'John F. Kennedy']

In [39]:
# Binary Search
import bisect

# create a sorted list
a = [1000, 40000, 17000, 42000, 5000, 12000, 9000, 80000, 25000, 7000]
a.sort(); print a

# Use binary search to find the index to add a value and keeping the list sorted
idx = bisect.bisect(a, 29999); print idx, '\n'

# Use binary search to insert the value and keep the list sorted
bisect.insort(a, 29999); print a

[1000, 5000, 7000, 9000, 12000, 17000, 25000, 40000, 42000, 80000]
7

[1000, 5000, 7000, 9000, 12000, 17000, 25000, 29999, 40000, 42000, 80000]